<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet Permission -->
    <uses-permission
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="ManeKelsa"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManeKelsa">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>

        <!-- Signup -->
        <activity
            android:name=".SignupActivity"
            android:exported="true"/>

        <!-- User Type -->
        <activity
            android:name=".UserTypeActivity"/>

        <!-- Home -->
        <activity
            android:name=".HomeActivity"/>

        <!-- Register -->
        <activity
            android:name=".RegisterActivity"/>

        <!-- Details -->
        <activity
            android:name=".DetailsActivity"/>

        <!-- Profile -->
        <activity
            android:name=".ProfileActivity"/>

        <!-- Edit Worker -->
        <activity
            android:name=".EditWorkerActivity"/>

        <!-- Ratings -->
        <activity
            android:name=".RatingActivity"/>

    </application>

</manifest>